@page "/"

<PageTitle>Index</PageTitle>

<div class="d-flex justify-center align-items-center align-content-center">
	<MudImage Src="https://media.tenor.com/8ZcclmGIy-0AAAAM/funny-as.gif" Width="800" Elevation="25" Class="pa-4 d-flex rounded-lg ma-4"/>
</div>